.counterWork{
    padding: 20px;
    background-color: black;
    color: white;
    margin: 5px;
    font-size: 30px;
}
.counterWork:hover{
    padding: 20px;
    background-color: white;
    color: black;
    margin: 5px;
    font-size: 30px;
}
#counterz{
    padding: 10px;
    display: flex;
    margin: 0 auto;
    background-color: white;
    width: fit-content;

}
.counterText{
    font-size: 50px;
    margin: 0 20px;
}
