/* Styles for category page */
#categoryPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
}

#webCategories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

/* Styles for category links */
.Categories_itemLink {
  display: inline-block;
  text-decoration: none;
  padding: 1.5rem 4rem;
  margin: 1rem;
  border: none;
  border-radius: 50px;
  font-size: 1.5rem;
  color: #fff;
  background-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.Categories_itemLink:hover {
  background-color: #0056b3;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
