#theRegPage{
    height: 100vh;
    width: 100wh;
}
#RegCard{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 100px;
    background-color: white;
    width: 60%;
    border: 10px solid black;
}
.RegInput{
    width: 30%;
    padding: 20px;
    border: 5px solid black;
}
.inputFieldRoom{
   padding: 5px;
}
.InputBtnReg{
    background-color: black;
    color: white;
    padding: 30px;
}
.InputBtnReg:hover{
    background-color: white;
    color: black;
    padding: 30px;
}
.error{
    color: red;
}